<legend>News</legend>

<table class="table table-striped">
  <thead>
	  <tr>
		<th>Title</th>
		<th>Author</th>
		<th>Date</th>
	  </tr>
  </thead>
  <tbody>
  <% for post in @posts %>
  <tr>
	  <td><%= post.title %></td>
	  <td><%= User.where(:id => post.user_id).first.username %></td>
	  <td><%= post.created_at.to_s %></td>
  </tr>
  <% end %>
  </tbody>
</table>
